<div class="exp-body">
    <h1>Education</h1>
    <div class="h-line"></div>
    <div class="exp-content">
        <ul class="list-unstyled">
            <li class="media" style="font-size: medium;">
                <img src="../../assets/images/kth-logo-black.png" class="mr-3"style="width: 10%">
                <div class="media-body">
                <h5 class="exp-item-title">09/18 - Today | PhD in Electrical Engineering and Computer Science | KTH, Stockholm (SE)</h5>
                <span class="exp-item-title">Thesis:</span> Analysis of Attacks on Controlled Stochastic Systems <span class="exp-item-title">Supervisor: </span>  <a href="https://people.kth.se/~alepro/" target="_blank">Prof. Proutiere Alexandre</a>
                <br>
                <span class="exp-item-title">Courses:</span>  Probability and Random Processes, Mathematical Statistics, Theoretical Foundations of
                Machine Learning, Differential Geometry, Mathematical Methods in Signals, Systems and Control, Algorithms in High Dimensions, Computational Game Theory, Cyber-physical security of
                Control Systems
                </div>
            </li>
            <br>
            <li class="media" style="font-size: medium;">
                <img src="../../assets/images/polimi-logo-black.png" class="mr-3"style="width: 10%">
                <div class="media-body">
                <h5 class="exp-item-title">09/14 - 12/16 | MSc in Automation and Control Engineering| Politecnico di Milano, Milan (IT)</h5>
                <span class="exp-item-title">Thesis:</span> Adaptive control of multirotor UAVs <span class="exp-item-title">Supervisor: </span>  <a href="https://home.aero.polimi.it/lovera/" target="_blank">Prof. Lovera Marco</a>
                <br>
                <span class="exp-item-title">GPA:</span>  110/110 cum laude, 29.5/30
                <br>
                <span class="exp-item-title">Courses:</span>  Multivariable Control, Adaptive and Optimal Control,
                Pattern Recognition and Machine Learning, Model and System Identification, Advanced Software
                Engineering, Mechanical and Electrical Systems
                </div>
            </li>
            <br>
            <li class="media" style="font-size: medium;">
                <img src="../../assets/images/asp-logo-black.png" class="mr-3"style="width: 10%">
                <div class="media-body">
                <h5 class="exp-item-title">09/14 - 12/16 | Honours Diploma in Innovation | Politecnico di Milano, Milan (IT)</h5>
                Multidisciplinary courses and team projects aimed at improving Design, Analytical and Economical skills. Programme restricted to 150 students, selected on the basis of merit, among top 1%
students of Politecnico di Milano, Politecnico di Torino.
                </div>
            </li>
            <br>
            <li class="media" style="font-size: medium;">
                <img src="../../assets/images/unige-logo-black.png" class="mr-3"style="width: 10%">
                <div class="media-body">
                <h5 class="exp-item-title">09/11 - 07/14 | BSc in Computer Science Engineering | University of Genoa, Genoa (IT)</h5>
                <span class="exp-item-title">Thesis:</span> Analysis of Classification Algorithms <span class="exp-item-title">Supervisor: </span>  <a href="https://web.mit.edu/lrosasco/www/" target="_blank">Prof. Rosasco Lorenzo</a>
                <br>
                <span class="exp-item-title">GPA:</span>   110/110 cum laude, 29.2/30
                <br>
                <span class="exp-item-title">Courses:</span>  Algorithms and Software Engineering, Computer
                Architectures, Digital and Analog Electronics, Dynamical Systems and Control, Telecommunications.
                </div>
            </li>

        </ul>
    </div>
</div>