<div class="research-body">
    <h1>Research</h1>
    <div class="h-line"></div>
    <div class="research-content">
        <!-- ======== add new item here ======== -->

        <div class="research-item" id="russo2023bandit">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2023bandit.png'>
                    </div>
                    <div class="zoom" id="zoom-activemlp">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">On the sample complexity of representation learning in multi-task bandits
                        with global and local structure</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">AAAI 2023</span>
                        <span class="feature">Bandit algorithms</span>
                        <span class="feature">Sample complexity</span>
                    </div>
                    <a href='https://arxiv.org/abs/2211.15129'>[arXiv]</a>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-activemlp" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-activemlp" src="../../assets/images/papers/russo2023bandit.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-activemlp">
                <div id='bib-box-content-activemlp' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>


        <div class="research-item" id="russo2022balancing">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2022balancing.png'>
                    </div>
                    <div class="zoom" id="zoom-russo2022balancing">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Balancing detectability and performance of attacks on the control channel
                        of markov decision processes</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">ACC 2022</span>
                        <span class="feature">Optimal attacks</span>
                        <span class="feature">Markov Decision Processes</span>
                        <span class="feature">Reinforcement Learning</span>
                    </div>
                    <a href='https://ieeexplore.ieee.org/document/9867848'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-russo2022balancing"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-russo2022balancing" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-russo2022balancing" src="../../assets/images/papers/russo2022balancing.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-russo2022balancing">
                <div id='bib-box-content-russo2022balancing' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="russo2021data">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2021data.png'>
                    </div>
                    <div class="zoom" id="zoom-russo2021data">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Data-driven control and data-poisoning attacks in buildings:
                        The kth live-in lab case study</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Marco Molinari, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">MED 2021</span>
                        <span class="feature">Data Poisoning</span>
                        <span class="feature">Data Driven Control</span>
                        <span class="feature">Linear Systems</span>
                    </div>
                    <a href='https://ieeexplore.ieee.org/document/9480238'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-russo2021data"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-russo2021data" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-russo2021data" src="../../assets/images/papers/russo2021data.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-russo2021data">
                <div id='bib-box-content-russo2021data' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="russo2021minimizing">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2021minimizing.png'>
                    </div>
                    <div class="zoom" id="zoom-russo2021minimizing">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Minimizing information leakage of abrupt changes in stochastic systems</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">CDC 2021</span>
                        <span class="feature">Privacy</span>
                        <span class="feature">Markov Decision Processes</span>
                        <span class="feature">Reinforcement Learning</span>
                    </div>
                    <a href='https://ieeexplore.ieee.org/document/9682884'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-russo2021minimizing"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-russo2021minimizing" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-russo2021minimizing" src="../../assets/images/papers/russo2021minimizing.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-russo2021minimizing">
                <div id='bib-box-content-russo2021minimizing' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="russo2021poisoning">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2021poisoning.png'>
                    </div>
                    <div class="zoom" id="zoom-russo2021poisoning">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Poisoning attacks against data-driven control methods</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">ACC 2021</span>
                        <span class="feature">Data Poisoning</span>
                        <span class="feature">Data Driven Control</span>
                        <span class="feature">Linear Systems</span>
                    </div>
                    <a href='https://ieeexplore.ieee.org/document/9482992'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-russo2021poisoning"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-russo2021poisoning" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-russo2021poisoning" src="../../assets/images/papers/russo2021poisoning.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-russo2021poisoning">
                <div id='bib-box-content-russo2021poisoning' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="russo2021towards">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/russo2021towards.png'>
                    </div>
                    <div class="zoom" id="zoom-russo2021towards">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Towards optimal attacks on reinforcement learning policies</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Alexandre Proutiere</div>
                    <div>
                        <span class="venue">ACC 2021</span>
                        <span class="feature">Optimal Attacks</span>
                        <span class="feature">Reinforcement Learning</span>
                    </div>
                    <a href='https://ieeexplore.ieee.org/document/9483025'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-russo2021towards"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-russo2021towards" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-russo2021towards" src="../../assets/images/papers/russo2021towards.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-russo2021towards">
                <div id='bib-box-content-russo2021towards' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="wang2020optimal">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/wang2020optimal.png'>
                    </div>
                    <div class="zoom" id="zoom-wang2020optimal">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Optimal algorithms for multiplayer
                        multi-armed bandits</div>
                    <div class='authors-normal'>Po-An Wang, Alexandre Proutiere, Kaito Ariu, Yassir Jedra, <strong>Alessio Russo</strong></div>
                    <div>
                        <span class="venue">AISTATS 2020</span>
                        <span class="feature">Bandit Algorithms</span>
                        <span class="feature">Regret minimization</span>
                        <span class="feature">Multi-agent</span>
                    </div>
                    <a href='https://proceedings.mlr.press/v108/wang20m.html'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-wang2020optimal"><a>[bibtex]</a></div>
                    <a href='https://github.com/rssalessio/OSRL-SC'>[code]</a>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-wang2020optimal" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-wang2020optimal" src="../../assets/images/papers/wang2020optimal.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-wang2020optimal">
                <div id='bib-box-content-wang2020optimal' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>

        <div class="research-item" id="eucass2017">
            <div class="research-item-first-row">
                <div class="research-item-left">
                    <div>
                        <img class="thumbnail" src='../../assets/images/papers/eucass2017.png'>
                    </div>
                    <div class="zoom" id="zoom-eucass2017">
                        <i class="fas fa-search-plus"></i>
                    </div>
                </div>
                <div class="research-item-right">
                    <div class="paper-title">Adaptive augmentation of the attitude control
                        system for a multirotor uav</div>
                    <div class='authors-normal'><strong>Alessio Russo</strong>, Davide Invernizzi, Marco Giurato, Marco Lovera</div>
                    <div>
                        <span class="venue">EUCASS 2017</span>
                        <span class="feature">Adaptive Control</span>
                        <span class="feature">UAV</span>
                    </div>
                    <a href='https://www.eucass.eu/doi/EUCASS2017-460.pdf'>[Paper]</a>
                    <div style='cursor:pointer;display:inline-block;' class='bibClick' id="bibclick-eucass2017"><a>[bibtex]</a></div>
                </div>
            </div>
            <div class="research-item-zoom-box" id="zoom-box-eucass2017" style="width: 95%; margin-left: 0; padding-left: 5px">
                <img style="width: 0; opacity: 0;" class="zoom-video" id="zoom-box-content-eucass2017" src="../../assets/images/papers/eucass2017.png">
            </div>
            <div class="research-item-bib-box" id="bib-box-eucass2017">
                <div id='bib-box-content-eucass2017' class='bibtex-block' style='left: 2.5%; width: 95%; display: none'>
                </div>
            </div>
        </div>
    </div>
</div>