<div class="top-intro">
    <div class="top-intro-left">
        <strong>About me:</strong>
        <p>
            I am currently a final year Ph.D. candidate at
            <a href='https://www.kth.se/en' target="_blank">KTH Royal Insitute of Technology (Stockholm)</a>, under the supervision of
            <a href="https://www.kth.se/profile/alepro" target="_blank">Prof. Proutiere Alexandre</a>, 
            majoring in Electrical Engineering and Computer Science (EECS) at the <a href="https://www.kth.se/is/dcs/division-of-decision-and-control-systems-1.788078" target="_blank">
                Division of Decision and Control Systems</a>.
            <br><br>

            My Ph.D. program involves the study of poisoning attacks on controlled dynamical systems, which includes:
        </p>
        <ul>
            <li>Poisoning attacks on Sequential Decision Makers (Reinforcement Learning, Adaptive Control, Data-Driven Control)</li>
            <li>Attack detectability</li>
            <li>Statistical learning of attacks</li>
        </ul>
        <strong>Background and interests:</strong>
       <p> Due to my past experiences, and interests, I have a versatile background, with both theoretical and practical expertise. I also have extensive experience in managing projects
        and heterogeneous teams.
        <br><br>
        My research interests are in   statistical learning, particularly in the areas of Learning Sequential Decision Makers.
        </p>

        <!-- <strong>Other:</strong>
        <ul>
            <li><strong>Reinforcement Learning Course (EL2805)</strong>: I'm TA of the master course in Reinforcement Learning at KTH. For any inquiries, send me an email.</li>
            <li><strong>Master thesis</strong>: I'm currently looking for skilled master students that wish to do a master thesis in model-based reinforcement learning.</li>
        </ul> -->
    </div>
    <div class="top-intro-right">
        <div>
            <img title='Profile photo' src='../../assets//images/profilepic.jpeg' class='avatar' style="border-radius: 24px">
        </div>
        <div class="click-icon">
            <a href='mailto:alessior@kth.se'><i class='fa fa-envelope fa-lg icon' title='Email'></i></a>
            <a href='../../assets/files/RussoA.CV.pdf' target="_blank"><i class='ai ai-cv-square ai-lg icon' title='CV'></i></a>
            <a href='https://scholar.google.com/citations?user=hsqzAkQAAAAJ&hl=en' target="_blank">
                <i class='ai ai-google-scholar-square ai-lg icon' title='Google scholar'></i></a>
            <a href='https://github.com/rssalessio' target="_blank"><i class='fab fa-github fa-lg icon' title='Github'></i></a>
        </div>
    </div>
</div>