<div class="top-intro">
    <div class="top-intro-left">
        <p>
            I am currently a final year Ph.D. candidate at
            <a href='https://ustc.edu.cn/'>University of Science and Technology of China (USTC)</a>, majoring in Electronic Enginerring
            & Information Science (EEIS).
            <br>
            I am involved in the joint Ph.D. program between USTC and
            <a href='https://www.microsoft.com/en-us/research/lab/microsoft-research-asia/'>Microsoft Research Asia (MSRA)</a>, luckily advised by
            <a href="https://scholar.google.com/citations?user=djk5l-4AAAAJ&hl=zh-CN">Yan Lu</a> (<img src='images/microsoft-mini.svg' width='18px' style="vertical-align: initial">),
            <a href='https://www.microsoft.com/en-us/research/people/wezeng/'>Prof. Wenjun Zeng</a> (<img src='images/microsoft-mini.svg' width='18px' style="vertical-align: initial">) and
            <a href='http://staff.ustc.edu.cn/~chenzhibo'>Prof. Zhibo Chen</a> (<img src='images/ustc.png' width='24px' style="vertical-align: text-top">).
<!--                Before that, I received my B.Eng from USTC in 2018.-->
            I collaborate closely with <a href="https://scholar.google.com/citations?user=X7M0I8kAAAAJ&hl=en">Zhizheng Zhang</a> and
            <a href='https://scholar.google.com/citations?user=XZugqiwAAAAJ&hl=en'>Cuiling Lan</a>
            during my internship at Intelligent Multimedia group (IM), MSRA.
            <br>
            <br>
            My research interests are in computer vision, particularly in the areas of domain adaptation/gerneralization, transfer learning, vision backbone and pose estimation.
        </p>
    </div>
    <div class="top-intro-right">
        <div>
            <img title='Profile photo' src='../../assets//images/profilepic.jpeg' class='avatar' style="border-radius: 24px">
        </div>
        <div class="click-icon">
            <a href='mailto:alessior@kth.se'><i class='fa fa-envelope fa-lg icon' title='Email'></i></a>
            <a href='../../assets/files/RussoA.CV.pdf' target="_blank"><i class='ai ai-cv-square ai-lg icon' title='CV'></i></a>
            <a href='https://scholar.google.com/citations?user=hsqzAkQAAAAJ&hl=en' target="_blank">
                <i class='ai ai-google-scholar-square ai-lg icon' title='Google scholar'></i></a>
            <a href='https://github.com/rssalessio' target="_blank"><i class='fab fa-github fa-lg icon' title='Github'></i></a>
        </div>
    </div>
</div>